<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BiodiViz</title>
  <script src="https://d3js.org/d3.v7.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <nav class="navbar navbar-light bg-body-tertiary">
    <div class="container d-flex justify-content-center">
        <a class="navbar-brand">
            <img src="{{ url_for('static', filename='img/logo.png') }}"
                height="130"
                alt="BiodiViz Logo"
                loading="lazy" />
        </a>
    </div>
  </nav>
  <div class="contact-clean">
    <div class="container">
      <div class="row">
        <div class="chart" id="chart"></div>
      </div>
    </div>
  </div>
  <div class="contact-clean">
    <div class="container">
      <form action="/graph" method="POST">
        <input type="hidden" name="button_type" value="filter">
        <div class="row">
          <div class="col-md-6">
            <h4>Filter By Entity Category</h4>
            <input class="node-box" type="checkbox" id="Organism" name="Organism" value="Organism">
            <img class="node" src="{{ url_for('static', filename='img/blue_node.png') }}">
            <label class="node-label" for="Organism">organism</label>
            <input class="node-box" type="checkbox" id="Environment" name="Environment" value="Environment">
            <img class="node" src="{{ url_for('static', filename='img/green_node.png') }}">
            <label class="node-label" for="Environment">environment</label>
            <input class="node-box" type="checkbox" id="Quality" name="Quality" value="Quality">
            <img class="node" src="{{ url_for('static', filename='img/purple_node.png') }}">
            <label class="node-label" for="Quality">quality</label>
            <br>
            <input class="node-box" type="checkbox" id="Location" name="Location" value="Location">
            <img class="node" src="{{ url_for('static', filename='img/yellow_node.png') }}">
            <label class="node-label" for="Location">location</label>
            <input class="node-box" type="checkbox" id="Phenomena" name="Phenomena" value="Phenomena">
            <img class="node" src="{{ url_for('static', filename='img/red_node.png') }}">
            <label class="node-label" for="Phenomena">phenomena</label>
            <input class="node-box" type="checkbox" id="Matter" name="Matter" value="Matter">
            <img class="node" src="{{ url_for('static', filename='img/orange_node.png') }}">
            <label class="node-label" for="Matter">matter</label>
          </div>
          <div class="col-md-6">
            <h4>Filter By Relation Type</h4>
            <input class="link-box" type="checkbox" id="have" name="have" value="have">
            <img class="link" src="{{ url_for('static', filename='img/blue_link.png') }}">
            <label class="link-label" for="have">have</label>
            <input class="link-box" type="checkbox" id="occur_in" name="occur_in" value="occur_in">
            <img class="link" src="{{ url_for('static', filename='img/red_link.png') }}">
            <label class="link-label" for="occur_in">occur in</label>
            <input class="link-box" type="checkbox" id="influence" name="influence" value="influence">
            <img class="link" src="{{ url_for('static', filename='img/yellow_link.png') }}">
            <label class="link-label" for="influence">influence</label>
            <input class="link-box" type="checkbox" id="none" name="none" value="none">
            <label class="link-label" for="none">none</label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <p><b>Selected entity categories:</b> <i>{{ categories }}</i></p>
          </div>
          <div class="col-md-6">
            <p><b>Selected relation types:</b> <i>{{ relations }}</i></p>
          </div>
        </div>
        <input class="btn btn-primary" type="submit" value="Apply filter" placeholder="Submit">
      </form>
    </div>
  </div>

  <footer class="navbar navbar-light bg-body-tertiary" style="background-color: #3F7941; height: 150px; border-radius: 1000px 1000px 0 0">
  </footer>

  <script>
    var data = JSON.parse('{{ data | tojson }}');
    console.log(data);
  
    function chart(data, width, height, bubbleSize, getColor, linkArc, lines, words, textRadius) {
      // Create copies of the data to avoid modifying the original
      const links = data.links.map(d => Object.assign({}, d));
      const nodes = data.nodes.map(d => Object.assign({}, d));
  
      const simulation = d3.forceSimulation(nodes)
        .force("link", d3.forceLink(links).id(d => d.name).distance(d => bubbleSize * 1.5 + Math.sqrt(d.value)))
        .force("separate", d3.forceCollide(d => bubbleSize * 1.5 + 10))
        .force("charge", d3.forceManyBody().strength(10))
        .force("x", d3.forceX())
        .force("y", d3.forceY());
  
      const svg = d3.create("svg")
        .attr("viewBox", [-width / 2, -height / 2 -50, width, height + 50])
        .attr("text-anchor", "middle")
        .call(d3.zoom().on("zoom", function (event) {
            svg.attr("transform", event.transform)
        }));
  
      const defs = svg.append("defs");
  
      defs.selectAll("marker")
        .data([""])
        .enter()
        .append("marker")
        .attr("id", "arrow")
        .attr("viewBox", "0 -5 10 10")
        .attr("refX", 8)
        .attr("refY", -0.5)
        .attr("markerWidth", bubbleSize * 0.25)
        .attr("markerHeight", bubbleSize * 0.25)
        .attr("orient", "auto")
        .append("path")
        .attr("fill", "black")
        .attr("d", "M0,-5L10,0L0,5");
  
      const link = svg.append("g")
        .attr("fill", "none")
        .attr("stroke-width", 5)
        .selectAll("path")
        .data(links)
        .enter()
        .append("path")
        .attr("stroke", "black")
        .attr("stroke", d => {
          if (d.relation === "occur_in") {
            return "#EB9DA2"; // red
          } else if (d.relation === "have") {
            return "#ACBBE8"; // blue
          } else if (d.relation === "influence") {
            return "#E8E6A5"; // yellow
          } else {
            return "black"; // Default color for other relations
          }
        })
  
      const bubble = svg.append("g")
        .attr("stroke", "#fff")
        .attr("stroke-width", 1.5)
        .selectAll("g")
        .data(nodes)
        .enter()
        .append("g")
        // .call(drag(simulation));
  
      bubble.append("circle")
        .attr("fill", getColor)
        .attr("stroke", "black")
        .attr("r", bubbleSize);
  
      bubble.append("text")
        .attr("transform", (d, i, nodes) =>
          `translate(${+d3.select(nodes[i].parentNode).select("circle").attr("cx")},
                    ${+d3.select(nodes[i].parentNode).select("circle").attr("cy")})
            scale(${+d3.select(nodes[i].parentNode).select("circle").attr("r") * 0.6 / textRadius(lines(words(d.name)))})`
        )
        .selectAll("tspan")
        .data(d => lines(words(d.name)))
        .enter()
        .append("tspan")
        .attr("x", 0)
        .attr("y", (d, i, nodes) => `${i - nodes.length / 2 + 0.8}em`)
        .text(d => d.text)
        .attr("stroke", "none")
        .attr("text-anchor", "middle")
        .attr("font-size", fontSize)
        .attr("font-family", "Arial, sans-serif");
  
      bubble.append("title")
        .text(d => d.name);
  
      simulation.on("tick", () => {
        link
          .attr("d", linkArc);
  
        bubble
          .attr("transform", d => `translate(${d.x},${d.y})`);
      });
  
      return svg.node();
    };
  
    function getColor(d){
      var fillcolor = d3.color("#DDDDDD")
      switch(d.category){
        case "Organism":
          fillcolor = "#ACBBE8" // blue
          break
        case "Environment":
          fillcolor = "#BBE8B5" // green
          break
        case "Quality":
          fillcolor = "#C5ACE8" // purple
          break
        case "Location":
          fillcolor = "#E8E6A5" // yellow
          break
        case "Phenomena":
          fillcolor = "#EB9DA2" // red
          break
        case "Matter":
          fillcolor = "#F0B884" // orange
          break
        default:
          fillcolor = "#FFFFFF" // white
      }
      return fillcolor;
    };
    
    var width = 1000;
    var height = 750;
    var bubbleSize = 30;
    var fontSize = 9;
  
    function linkArc(d) {
      const startx = d.source.x;
      const starty = d.source.y;
      const endx = d.target.x;
      const endy = d.target.y;
  
      return `
        M${startx},${starty}
        L${endx},${endy}
      `;
    }
  
    function words(text) {
      const words = text.split(/\s+/g); // To hyphenate: /\s+|(?<=-)/
      if (!words[words.length - 1]) words.pop();
      if (!words[0]) words.shift();
      return words;
    }
  
    function measureWidth(text) {
      const context = document.createElement("canvas").getContext("2d");
      return text => context.measureText(text).width;
    }
  
    var lineHeight = 18;
  
    function targetWidth(text) {
      Math.sqrt(measureWidth(text.trim()) * lineHeight)
    }
  
    function lines(words) {
      let line;
      let lineWidth0 = Infinity;
      const lines = [];
      for (let i = 0, n = words.length; i < n; ++i) {
        let lineText1 = (line ? line.text + " " : "") + words[i];
        let lineWidth1 = measureWidth(lineText1);
        if ((lineWidth0 + lineWidth1) / 2 < targetWidth(words.join(" ")) ) {
          line.width = lineWidth0 = lineWidth1;
          line.text = lineText1;
        } else {
          lineWidth0 = measureWidth(words[i]);
          line = {width: lineWidth0, text: words[i]};
          lines.push(line);
        }
      }
      return lines;
    }
  
    function textRadius(lines) {
      let radius = 0;
      for (let i = 0, n = lines.length; i < n; ++i) {
        const dy = (Math.abs(i - n / 2 + 0.5) + 0.5) * lineHeight;
        const dx = lines[i].width / 2;
        radius = Math.max(radius, Math.sqrt(dx ** 2 + dy ** 2));
      }
      return radius;
    }
  
    const svgNode = chart(data, width, height, bubbleSize, getColor, linkArc, lines, words, textRadius);
    const chartContainer = document.getElementById('chart');
    chartContainer.appendChild(svgNode);
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>