<!DOCTYPE html>
<html lang="en">

<head>
  <title>BiodiViz</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
  <nav class="navbar navbar-light bg-body-tertiary">
    <div class="container d-flex justify-content-center">
        <a class="navbar-brand" href="#">
            <img src="{{ url_for('static', filename='img/logo.png') }}"
                height="120"
                alt="BiodiViz: A Biodiversity Text-to-Graph Generator"
                loading="lazy" />
        </a>
    </div>
  </nav>

  <div class="contact-clean">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-6 col-md-6">
          <form action="/graph" method="POST" id="#" enctype="multipart/form-data">
            <div class="form-group files">
              <label style="font-weight: 600;">Upload a biodiversity-related file...</label>
              <input type="file" name="file" value="initial" multiple="" style="height: 400px;">
              <input class="btn btn-primary" type="submit" value="Submit" placeholder="Submit">
            </div>
        </form>
        </div>
        <div class="col-md-6">
          <form action="/graph" method="POST">
            <label style="font-weight: 600;">...or input the raw text here.</label>
            <input type="hidden" name="button_type" value="initial">
            <textarea class="form-control" rows="20" name="input" placeholder="Input text here."></textarea>
            <input class="btn btn-primary" type="submit" value="Submit" placeholder="Submit">
          </form>
        </div>
      </div>
    </div>
  </div>

  <footer class="navbar navbar-light bg-body-tertiary" style="background-color: #3F7941; height: 150px; border-radius: 1000px 1000px 0 0">
  </footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</body>

</html>